 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Lukasz Dziedziczak. I am super passionated about video games.  Currently I am studying Game Production and Design at the Academy of Interactive Entertainment (AIE).</p>
                </div>
                <div class="col-lg-4">
                    <p>Above you will find a sample of my work. You can download a build of each game, look at the GitHub project, look at videos of playthroughs, or look at sample code from builds. Please peruse the aboce projects. Below is an easy way to contact me or check out my other social media pages. </p>
                </div>
            </div>
        </div>
    </section>
